AWS_ACCESS_KEY_ID=<your_Access_Key>
AWS_SECRET_ACCESS_KEY=<your_Secret_Access_Key>
AWS_REGION=ap-southeast-2
S3_BUCKET_NAME=my-cloud-drive-saichupak123

GOOGLE_CLIENT_ID=<Your_Google_Cilent_ID>
GOOGLE_CLIENT_SECRET=<Your_Google_Cilent_Secret_ID>
GOOGLE_CALLBACK_URL=http://localhost:5000/auth/google/callback

SESSION_SECRET=any_random_string_you_make_up_123456

PORT=5000
CLIENT_URL=http://localhost:5000
